<tr>
  <td colspan="3" align="center">
  </td>
</tr>

<tr>
  <td width="50">&nbsp;</td>
  <td width="553">
    <br /><br />

    <span style="line-height:1.6; font-family: Helvetica; color: #303030; ">
      <p>Hi <%= @user_profile.first_name %>,</p>

    </span>

    <br /><br /><br />

  </td>
  <td width="50">&nbsp;</td>
</tr>
