<style type='text/css'>
body
{
  background: url("http://i.imgur.com/TJaPnL9.gif");
}

.panel
{
  margin: 60px;
  padding: 20px;
  text-align: center;
}

img
{
  margin: 20px;
}
</style>

<div class="panel">
  <h1>RailsApiBase API</h1>
  <img src="http://i.imgur.com/Vx1q62l.gif">
  <p class="lead">Server uptime = <%= time_ago_in_words RailsApiBase::STARTED_AT %>.</p>
</div>
