<p>
  G&rsquo;day <%= @resource.profile.first_name %>!
</p>

<p>Looks like you&rsquo;ve asked us to reset your password, so we&rsquo;re here to help. Click the link below to continue.</p>

<p><%= link_to "Change my password", "#{ENV["FRONTEND_WEBSITE_URL"]}/#/passwords/edit?resetPasswordToken=#{@token}" %></p>

<p>If you have any questions, shoot us an email at support@prompa.net.</p>

<p>
  Cheers,<br>
  The Prompa Team
</p>
