<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style type="text/css" media="screen">
    body {
      word-wrap:          break-word;
      -webkit-nbsp-mode:  space;
      -webkit-line-break: after-white-space;
    }
  </style>
</head>

<body>
<table align="center" style="box-shadow: 0px 0px 5px #909090;" width="653" border="0" cellspacing="0" cellpadding="0">
  <%= yield %>
</table>

<br /><br />
</body>
</html>
